<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>@ViewBag.Title - 在线考试系统</title>
   <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <link href="~/Content/stu.css" rel="stylesheet" type="text/css" />
   <script src="~/Scripts/jquery-1.10.2.min.js"></script>
   <script src="~/Scripts/bootstrap.min.js"></script>
   <script src="~/Scripts/modernizr-2.6.2.js"></script>
   @RenderSection("Styles", false)
</head>
<body>
   <nav id="stu_module" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a href="/student" class="navbar-brand">
               <span>在线</span>考试
            </a>
         </div>
         <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav menu">
               <li data-id="exam">
                  <a href="/student/exam">
                     <img src="~/Images/icon1.png" alt="" />
                     在线考试
                  </a>
               </li>
               <li data-id="record">
                  <a href="/student/exam/record">
                     <img src="~/Images/icon4.png" alt="" />
                     考试记录
                  </a>
               </li>
               <li data-id="notices">
                  <a href="/student/account/notices">
                     <img src="~/Images/examPoint.png" alt="" />
                     考试公告
                  </a>
               </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               @if (Session["Sno"] == null)
               {
                  <li>
                     <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signinModal">登录</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#signupModal">注册</button>
                     </div>
                  </li>
               }
               else
               {
                  <li class="dropdown">
                     <a href="#" id="userName" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> @Session["Sno"]
                        <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="/student/account/edit"><span class="glyphicon glyphicon-cog"></span> 设置</a>
                        </li>
                        <li>
                           <a href="/student/account/signout"><span class="glyphicon glyphicon-log-out"></span> 登出</a>
                        </li>
                     </ul>
                  </li>
               }
            </ul>
         </div>
         <!-- /.navbar-collapse -->
      </div>
   </nav>

   <section class="container render-body">
      @RenderBody()
   </section>

   <footer class="container">
      <p>&copy; @DateTime.Now.Year - 有统计的在线考试系统——Monkey</p>
   </footer>
   <!--  signinModal  -->
   <div class="modal fade account" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModal">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="exampleModalLabel">学生登录</h4>
            </div>
            <div class="modal-body">
               <form>
                  <div class="form-group">
                     <label for="recipient-name" class="control-label">
                        <span class="glyphicon glyphicon-user"></span>
                     </label>
                     <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="form-group">
                     <label for="message-text" class="control-label">
                        <span class="glyphicon glyphicon-lock"></span>
                     </label>
                     <input type="text" class="form-control" id="recipient-name">
                  </div>
               </form>
            </div>
            <div class="modal-footer clearfix">
               <a href="" class="link" data-target="signupModal" data-dismiss="modal">去注册</a>
               <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
               <button type="button" class="btn btn-primary">立即登录</button>
            </div>
         </div>
      </div>
   </div>
   <!--  signupModal  -->
   <div class="modal fade account" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="exampleModalLabel">学生注册</h4>
            </div>
            <div class="modal-body">
               <form>
                  <div class="form-group">
                     <label for="recipient-name" class="control-label">
                        <span class="glyphicon glyphicon-user"></span>
                     </label>
                     <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="form-group">
                     <label for="message-text" class="control-label">
                        <span class="glyphicon glyphicon-lock"></span>
                     </label>
                     <input type="text" class="form-control" id="recipient-name">
                  </div>
               </form>
            </div>
            <div class="modal-footer clearfix">
               <a href="" class="link" data-target="signinModal" data-dismiss="modal">已有账号，去登录</a>
               <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
               <button type="button" class="btn btn-primary">立即注册</button>
            </div>
         </div>
      </div>
   </div>
   <script>
      $('.account .link').click(function () {
         var target = $(this).attr('data-target');
         $('#' + target).modal();
      });
      (function () {
         var controller = '@ViewContext.RouteData.Values["controller"]'.toLocaleLowerCase();
         var action = '@ViewContext.RouteData.Values["action"]'.toLocaleLowerCase();

         if (controller == 'exam' && action == 'index') {
            $(".menu>li[data-id='exam']").addClass('active');
         } else if ((controller == 'exam') && (action == 'record' || action == 'details' || 'result')) {
            $(".menu>li[data-id='record']").addClass('active');
         } else if (controller == 'account' && (action == 'notices' || action == 'notice')) {
            $(".menu>li[data-id='notices']").addClass('active');
         } else if (controller == 'exam') {
            $(".menu>li[data-id='exam']").addClass('active');
         }
      })();
   </script>
   @RenderSection("Scripts", false)
</body>
</html>