@model kaoshi.Models.es_paper

@{
   ViewBag.Title = "SelectTopic";
}

<style type="text/css">
   .paper-info blockquote{
      border:solid 1px #eee;
      border-left:solid 3px #eee;
   }
   .test {
      padding: 8px 2px;
      background: #337AB7;
      color: white;
   }

   .test-header {
      padding: 8px 2px;
      background: #C4CBCD;
      margin-bottom: 5px;
   }

   .test-items {
      margin-bottom: 10px;
   }

      .test-items .answer {
         background: #f2dede;
      }

   .test-options {
      padding: 8px 2px;
      background: #F5F5F5;
      border-bottom: solid 1px #ddd;
   }

      .test-options span, .test .input-group span {
         cursor: pointer;
         color: #333;
      }

   .test .fleft {
      position: absolute;
      display: block;
      width: 25px;
   }

   .test span.content {
      margin-left: 30px;
      margin-right: 60px;
      display: block;
   }

   .test span.fright {
      position: absolute;
      top: 0;
      right: 10px;
      display: block;
   }

   .test-container .control {
      margin-bottom: 20px;
   }

   .panel-body {
      padding: 5px;
   }
</style>

<h2>机选中心</h2>
<div class="paper-info">
   <blockquote>
      <dl class="dl-horizontal">
         <dt>
            @Html.DisplayNameFor(model => model.es_subject.name)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.es_subject.name)
         </dd>
         <dt>
            @Html.DisplayNameFor(model => model.name)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.name)
         </dd>
         <dt>
            @Html.DisplayNameFor(model => model.ab_paging)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.ab_paging)
         </dd>
         <dt>
            @Html.DisplayNameFor(model => model.test_time)
         </dt>
         <dd>
            @Html.DisplayFor(model => model.test_time)
         </dd>

         <dt>
            @Html.DisplayNameFor(model => model.total_points)
         </dt>

         <dd>
            @Html.DisplayFor(model => model.total_points)
         </dd>
      </dl>
   </blockquote>
</div>

<div class="compose-box" ng-app="myApp" ng-controller="Control">
   @* 提示框 *@
   <div ng-if="getCount()" class="alert alert-success container">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <span class="sr-only">提示:</span>试卷题目筛选完毕！
      <a ng-click="confirm()">[提交试卷]</a>
   </div>
   <button type="button" class="btn btn-danger" ng-click="Choose()">机选</button>
   <div class="row clearfix">
      <div class="col-md-12 paper-views">
         <div class="header"><h4>试卷预览</h4></div>
         <div class="panel panel-success" ng-repeat="c in composes">
            <div class="panel-heading clearfix">
               <div class="pull-left">
                  <span ng-bind="$index+1"></span>.
                  <span ng-bind="c.typeName"></span>
                  <span>({{c.tests.length}}/{{c.number}})</span>
               </div>
               <div class="pull-right">
                  <span ng-bind="c.value"></span>x
                  <span ng-bind="c.number"></span>=
                  <span ng-bind="c.value*c.number"></span>
               </div>
            </div>
            <div class="panel-body">
               <div class="test-items" ng-repeat="t in c.tests">
                  @* 题目信息 *@
                  <div class="test clearfix" ng-cloak>
                     <div class="col-sm-12 title clearfix">
                        <span class="fleft" ng-cloak>({{$index+1}})</span>
                        <span class="content" ng-cloak>{{t.title}} (<span ng-bind="t.result"></span>)</span>
                     </div>
                  </div>
                  @* 题目选项 *@
                  <div class="test-options clearfix" ng-class="{'answer':(t.result.indexOf(o.abcd)>-1)}" ng-repeat="o in t.options">
                     <div class="col-sm-1" ng-bind="o.abcd"></div>
                     <div class="col-sm-10" ng-cloak>
                        <span ng-bind="o.content"></span>
                     </div>
                     <div class="col-sm-1"><span ng-if="t.result.indexOf(o.abcd)>-1" class="glyphicon glyphicon-ok"></span></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

@section Scripts{
   <script src="~/Scripts/angular.min.js"></script>
   <script>
      angular.module('myApp', [], function ($httpProvider) {
         $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
         $httpProvider.defaults.transformRequest = [function (data) {
            var param = function (obj) {
               var query = '';
               var name, value, fullSubName, subName, subValue, innerObj, i;
               for (name in obj) {
                  value = obj[name];
                  if (value instanceof Array) {
                     for (i = 0; i < value.length; ++i) {
                        subValue = value[i];
                        fullSubName = name + '[' + i + ']';
                        innerObj = {};
                        innerObj[fullSubName] = subValue;
                        query += param(innerObj) + '&';
                     }
                  } else if (value instanceof Object) {
                     for (subName in value) {
                        subValue = value[subName];
                        fullSubName = name + '[' + subName + ']';
                        innerObj = {};
                        innerObj[fullSubName] = subValue;
                        query += param(innerObj) + '&';
                     }
                  } else if (value !== undefined && value !== null) {
                     query += encodeURIComponent(name) + '=' + encodeURIComponent(value) + '&';
                  }
               }
               return query.length ? query.substr(0, query.length - 1) : query;
            };
            return angular.isObject(data) && String(data) !== '[object File]' ? param(data) : data;
         }];
      })
      .controller('Control', function ($scope,$http,$timeout) {

         $http.post('/teacher/paper/GetComposes?id=' + @Model.id).success(function(res){
            $scope.composes = res.composes;
         });

         $scope.Choose = function(){
            $http.post('/teacher/paper/MachineSelect',{id : @Model.id}).success(function(res){
               $scope.composes = res.composes;
            });
         };

         // 用于检测组卷题目是否完成
         $scope.getCount = function () {
            var flag = true;
            angular.forEach($scope.composes, function (data, index, array) {
               if(data.number != data.tests.length){
                  flag = false;
               }
            });
            return flag;
         };

         $scope.getCount();

         // 完成试题筛选
         $scope.confirm = function(){
            $http.post('/teacher/paper/Complete',{id:@Model.id}).success(function(res){
               if(res==true){
                  location.href = '/teacher/paper/';
               }
            });
         }

      });
   </script>
}

<p>
   @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
   @Html.ActionLink("Back to List", "Index")
</p>
