@model IEnumerable<kaoshi.Models.es_exam>

@{
   ViewBag.Title = "Index";
   var sno = int.Parse(Session["Sno"].ToString());
}

<h2>学生首页</h2>

<div class="panel panel-default">
   <div class="panel-heading">考试安排</div>
   <div class="panel-body">
      <table class="table">
         @if (Model.Count() == 0)
         {
            <tr>
               <td colspan="4">暂无考试安排</td>
            </tr>
         }
         else
         {
            <tr>
               <th>名称</th>
               <th>科目</th>
               <th>考试时间</th>
               <th>状态</th>
            </tr>
            foreach (var item in Model)
            {
               <tr>
                  <td>
                     @Html.DisplayFor(modelItem => item.es_paper.name)
                  </td>
                  <td>
                     @Html.DisplayFor(modelItem => item.es_paper.es_subject.name)
                  </td>
                  <td>
                     @Html.DisplayFor(modelItem => item.begin_time)
                  </td>
                  <td>
                     @if (item.begin_time > DateTime.Now)
                     {
                        @Html.Raw("待考中.");
                     }
                     else if (item.end_time < DateTime.Now)
                     {
                        @Html.Raw("已结束");
                     }
                     else
                     {
                        var se = item.es_stu_exam.FirstOrDefault(e => e.student == sno);
                        if (se != null && se.score != null)
                        {
                           @Html.Raw("您已提交考卷");
                        }
                        else if (se != null && se.score == null)
                        {
                           @Html.Raw("<a href='/student/exam/testing/" + @item.id + "'>继续答题</a>");
                        }
                        else
                        {
                           @Html.Raw("<a href='/student/exam/instructions/" + @item.id + "'>进入答题</a>");
                        }
                     }
                  </td>
               </tr>
            }
         }

      </table>
   </div>
</div>

<div class="panel panel-default">
   <div class="panel-heading">最新公告</div>
   <div class="panel-body">
      <table class="table">
         <tr>
            <th>标题</th>
            <th>摘要</th>
            <th>发布时间</th>
         </tr>

         @foreach (var item in ViewData["notices"] as List<kaoshi.Models.es_notice>)
         {
            <tr>
               <td>
                  <a href="/student/account/notice/@item.id">@item.title</a>
               </td>
               <td>
                  @(item.content.Substring(0,12)+"...")
               </td>
               <td>
                  @Html.DisplayFor(modelItem => item.create_at)
               </td>
            </tr>
         }

      </table>
   </div>
</div>