@model kaoshi.Models.es_notice

@{
   ViewBag.Title = "Notice";
}

<div class="panel panel-default">
   <div class="panel-heading">@Model.title</div>
   <div class="panel-body">
      <dl class="dl-horizontal">

         <dt>
            @Html.DisplayNameFor(model => model.create_at)
         </dt>

         <dd>
            @Html.DisplayFor(model => model.create_at)
         </dd>

         <dt>
            @Html.DisplayNameFor(model => model.content)
         </dt>

         <dd>
            @Html.DisplayFor(model => model.content)
         </dd>

      </dl>
   </div>
</div>
