@model IEnumerable<kaoshi.Models.es_class>
@using kaoshi.Models;

@{
   WebContext db = new WebContext();
   ViewBag.Title = "Index";
   ViewBag.Controller = "班级";
   ViewBag.Action = "列表";
}

<div class="top-tools">
   <div class="action"><span class="glyphicon glyphicon-map-marker"></span>班级列表</div>
   @Html.ActionLink("添加科目", "Create")
</div>

<div class="render-datas">
   <table class="table">
      <thead>
         <tr>
            <th>班号</th>
            <th>班名</th>
            <th>人数</th>
            <th>操作</th>
         </tr>
      </thead>
      @foreach (var item in Model)
      {
         <tr>
            <td>
               @Html.DisplayFor(modelItem => item.no)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
               @Html.Raw(db.es_student.Where(s => s.class_id == item.no).Count())
            </td>
            <td>
               @Html.ActionLink("编辑", "Edit", new { id = item.no }) |
               @Html.ActionLink("详情", "Details", new { id = item.no })
            </td>
         </tr>
      }
   </table>
</div>