@model IEnumerable<kaoshi.Models.es_class>
@using kaoshi.Models;

@{
   WebContext db = new WebContext();
   ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.no)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.name)
    </th>
     <th>人数</th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.no)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.name)
      </td>
       <td>
          @Html.Raw(db.es_student.Where(s=>s.class_id==item.no).Count())
       </td>
      <td>
        @Html.ActionLink("编辑", "Edit", new { id = item.no }) |
        @Html.ActionLink("详情", "Details", new { id = item.no }) |
        @Html.ActionLink("删除", "Delete", new { id = item.no })
      </td>
    </tr>
  }

</table>
