@model IEnumerable<kaoshi.Models.es_manager>

@{
   ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   <tr>
      <th>
         @Html.DisplayNameFor(model => model.es_role.name)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.login_id)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.real_name)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.sex)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.email)
      </th>
      <th></th>
   </tr>

   @foreach (var item in Model)
   {
      <tr>
         <td>
            @Html.DisplayFor(modelItem => item.es_role.name)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.login_id)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.real_name)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.sex)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.email)
         </td>
         <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.id }) |
            @Html.ActionLink("详情", "Details", new { id = item.id })
         </td>
      </tr>
   }

</table>
