@model kaoshi.Models.es_student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>es_student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.es_class.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.es_class.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.real_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.real_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
