@model IEnumerable<kaoshi.Models.es_exam>

@{
   ViewBag.Title = "Chart";
   ViewBag.Controller = "考试";
   ViewBag.Action = "统计";
}

<div class="top-tools">
   <div class="action"><span class="glyphicon glyphicon-map-marker"></span>考试统计</div>
   @Html.ActionLink("返回列表", "Index")
</div>

<div class="render-datas">
   <table class="table">
      <thead>
         <tr>
            <th>名称</th>
            <th>考试时间</th>
            <th>结束时间</th>
            <th>操作</th>
         </tr>
      </thead>
      @foreach (var item in Model)
      {
         <tr>
            <td>
               @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.begin_time)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.end_time)
            </td>
            <td>@Html.ActionLink("查看统计", "ChartDetail", new { id = item.id })</td>
         </tr>
      }
   </table>
</div>