@model kaoshi.Models.es_exam
@{
   ViewBag.Title = "Details";
   ViewBag.Controller = "考试";
   ViewBag.Action = "详情";
}

<div class="top-tools">
   <div class="action"><span class="glyphicon glyphicon-map-marker"></span>考试详情</div>
   @Html.ActionLink("返回列表", "Index")
</div>

<div class="render-datas">
   <div class="panel">
      <div class="panel-heading">考试信息</div>
      <div class="panel-body">
         <dl class="dl-horizontal">
            <dt>
               @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
               @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
               @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.begin_time)
            </dt>

            <dd>
               @Html.DisplayFor(model => model.begin_time)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.end_time)
            </dt>

            <dd>
               @Html.DisplayFor(model => model.end_time)
            </dd>
         </dl>
      </div>
   </div>
   <div class="panel">
      <div class="panel-heading">参考学生列表</div>
      <div class="panel-body">
         <table class="table">
            <thead>
               <tr>
                  <th>学生学号</th>
                  <th>学生姓名</th>
                  <th>查看</th>
               </tr>
            </thead>
            @foreach (var item in Model.es_stu_exam)
         {
               <tr>
                  <td>@item.es_student.sno</td>
                  <td>@item.es_student.real_name</td>
                  <td>
                     @Html.ActionLink("查看", "viewDetail", new { sno = item.es_student.sno })
                  </td>
               </tr>
            }
         </table>
      </div>
   </div>
</div>
