@model kaoshi.Models.es_exam

@{
   ViewBag.Title = "Details";
}

<style type="text/css">
   .paper-info blockquote {
      border: solid 1px #eee;
      border-left: solid 3px #eee;
   }

   .test {
      padding: 8px 2px;
      background: #337AB7;
      color: white;
   }

   .test-header {
      padding: 8px 2px;
      background: #C4CBCD;
      margin-bottom: 5px;
   }

   .test-items {
      margin-bottom: 10px;
   }

      .test-items .answer {
         background: #f2dede;
      }

   .test-options {
      padding: 8px 2px;
      background: #F5F5F5;
      border-bottom: solid 1px #ddd;
   }

      .test-options span, .test .input-group span {
         cursor: pointer;
         color: #333;
      }

   .test .fleft {
      position: absolute;
      display: block;
      width: 25px;
   }

   .test span.content {
      margin-left: 30px;
      margin-right: 60px;
      display: block;
   }

   .test span.fright {
      position: absolute;
      top: 0;
      right: 10px;
      display: block;
   }

   .test-container .control {
      margin-bottom: 20px;
   }

   .panel-body {
      padding: 5px;
   }
</style>

<h2>Details</h2>

<div class="paper-info">
   <blockquote>
      <dl class="dl-horizontal">
         <dt>科目</dt>
         <dd>
            @Html.DisplayFor(model => model.es_paper.es_subject.name)
         </dd>

         <dt>名称</dt>
         <dd>
            @Html.DisplayFor(model => model.es_paper.name)
         </dd>

      </dl>
   </blockquote>
</div>

<div class="row compose-box" ng-app="myApp">
   <div class="clearfix" ng-controller="Control">
      <div class="col-md-12 paper-views">
         <div class="header"><h4>试卷预览</h4></div>
         <div class="panel panel-success" ng-repeat="c in composes">
            <div class="panel-heading clearfix">
               <div class="pull-left">
                  <span ng-bind="c.type"></span>.
                  <span ng-bind="c.typeName"></span>
                  <span>({{c.tests.length}}/{{c.number}})</span>
               </div>
               <div class="pull-right">
                  <span ng-bind="c.value"></span>x
                  <span ng-bind="c.number"></span>=
                  <span ng-bind="c.value*c.number"></span>
               </div>
            </div>
            <div class="panel-body">
               <div class="test-items" ng-repeat="t in c.tests">
                  @* 题目信息 *@
                  <div class="test clearfix" ng-cloak>
                     <div class="col-sm-12 title clearfix">
                        <span class="fleft" ng-cloak>({{$index+1}})</span>
                        <span class="content" ng-cloak>{{t.title}} (<span ng-bind="t.result"></span>)</span>
                     </div>
                  </div>
                  @* 题目选项 *@
                  <div class="test-options clearfix" ng-class="{'answer':(t.result.indexOf(o.abcd)>-1)}" ng-repeat="o in t.options">
                     <div class="col-sm-1" ng-bind="o.abcd"></div>
                     <div class="col-sm-10" ng-cloak>
                        <span ng-bind="o.content"></span>
                     </div>
                     <div class="col-sm-1"><span ng-if="t.result.indexOf(o.abcd)>-1" class="glyphicon glyphicon-ok"></span></div>
                  </div>
                  <div class="chart">
                     正确率: {{t.ok_count/(t.ok_count + t.no_count) * 100}}%
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

@section Scripts{
   <script src="~/Scripts/angular.min.js"></script>
   <script>
      angular.module('myApp', [])
      .controller('Control', function ($scope,$http,$timeout) {

         $http.get('/admin/exam/GetTestChart?id=' + @Model.id).success(function(res){
            $scope.composes = res.composes;
         });
      });
   </script>
}

<p>
   @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
   @Html.ActionLink("Back to List", "Index")
</p>
